.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env
env*
dist
build
*.egg
*.egg-info
_mailinglist
.tox
.cache/
.idea/
data/
*.ipynb
__pycache__/
.ipynb_checkpoints/
*.png

# Coverage reports
htmlcov
.coverage
.coverage.*
*,cover
