{% extends "layout.html" %}
{% block body %}

    <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href"{{ url_for('main.index') }}">Climalyze</a>
    </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height:1px;">
            <ul class="nav navbar-nav">
                <li>
                    <a class="nav-link" href="{{ url_for('main.index2') }}">Home</a>
                </li>
                <li class="active">
                    <a class="nav-link" href="{{ url_for('main.country_search') }}">Country Search</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ url_for('main.aggregate_filter') }}">Statistical Filters</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ url_for('main.comparison_search') }}">Comparisons</a>
                </li>
            </ul>
        </div>
    </div>
    </nav>
    <div style="text-align:center">
    <div style="display:inline-block">
    <h2>Country Search</h2>
    <form id="countrySearchForm" onsubmit="console.log(window.location.href.split('/')); window.location.href = 'http://'+window.location.href.split('/')[2]+'/country/'+document.getElementById('countrySearch').value; console.log(window.location.href); return false;">
        <input id="countrySearch" type="search" name="countrysearch" class="form-control" placeholder="Country Name" style="float:left; width: 200px; margin: 10px;">
        <input type="submit" value="Submit" id="submitCountrySearch" class="form-control" style="float:left; width:100px; margin: 10px;">
    </form>
    </div>
    </div>
  {% if country is not none %}
  <h1>{{ country['Name'] }}</h1>
  {% if img is not none %}
    <img src={{ url_for("static", filename="images/"+ img + ".png") }} width="120" height="90" />
  {% endif %}
  <!-- Using code from: https://stackoverflow.com/questions/16463030/how-to-add-facebook-share-button-on-my-website -->
  <script type="text/javascript">
    document.write('<div class=\"fb-share-button\" id=\"share_button\" data-href=\"' + window.location.href + '\" data-type=\"button_count\" data-width=\"200\"></div>');
    $(document).ready(function() {
        $('#share_button').click(function(e) {
            e.preventDefault();
            FB.ui(
                {
                    method: 'feed',
                    name: 'Climalyze',
                    link: window.location.href,
                    caption: 'Climate-related info about {{ country["Name"] }}',
                    description: 'Learn more about the climate on Climalyze',
                    message: ""
                });
        });
    });
  </script>
  <h2>Details</h2>
  <table class="table">
  <tbody>
    {% for key in country.keys() %}
    {% if key != "Name" and key != "LandArea" %}
        <tr>
          <th scope="row">{{ key }}</th>
          <td>{{ country[key] }}</td>
        </tr>
    {% endif %}
    {% endfor %}
    {% if temp_info is not none %}
      <tr>
        <th scope="row">Temperature in {{ temp_info['RecentMonth'] + ' ' + temp_info['RecentYear']|string }}: {{ temp_info['Value'] }} degrees Celsius</th>
        <td>Years with higher temperature in {{ temp_info['RecentMonth'] }}: {{ ','.join(temp_info['HigherYears']) }}</td>
      </tr>
    {% endif %}
      <tr>
        <th scope="row">Total Impact from Fuel Exports (kilotons of CO2) </th>
        <td> {{ impact }} </td>
      </tr>
    </tbody>
    <div id="emissionsDiv"></div>
    <script>
      var trace = {
          x: {{ time_series["Year"] }},
          y: {{ time_series["Emissions"] }},
          mode: 'lines',
          name: 'Emissions'
      };
      var data = [trace];
      {% if time_series["TempYear"]|length > 0 %}
      var temp_trace = {
          x: {{ time_series["TempYear"] }},
          y: {{ time_series["Temp"] }},
          mode: 'lines',
          name: 'Temperature',
          yaxis: 'y2'
      };
      data.push(temp_trace);
      var layout = {title: '{{ country['Name'] }}' +': CO2 Emissions and Temperature Over Time', xaxis: { title: 'Year' }, yaxis: { title: 'CO2 Emissions (kilotons)' }, yaxis2: {title: 'Temperature (degrees Celsius)', side: 'right', overlaying: 'y'}};
      {% else %}
      var layout = {title: '{{ country['Name'] }}' +': CO2 Emissions Over Time', xaxis: { title: 'Year' }, yaxis: { title: 'CO2 Emissions (kilotons)' }};
      {% endif %}
    Plotly.newPlot("emissionsDiv", data, layout);
    </script>
    <div id="fuelExportsDiv">
      {% if fuel_exports is not none %}
      <table class="table">
      <thead>
        <tr>
          <th scope="row">Importing Country</th>
          <th>Percent Fuel Imports from {{ country['Name'] }}</th>
          <th>Emissions of Importing Country</th>
        </tr>
      </thead>
      <tbody>
        {% for i, row in fuel_exports[:8].iterrows() %}
            <tr>
              <th scope="row">{{ row["Country"] }}</th>
              <td>{{ row["Weight"] }} %</td>
              <td>{{ row["Emissions"] }} </td>
            </tr>
        {% endfor %}
        </tbody>
      {% endif %}
    </div>
{% endif %}
{% endblock %}
