{% extends "layout.html" %}
{% block body %}
    <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href"{{ url_for('main.index') }}">Climalyze</a>
    </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height:1px;">
            <ul class="nav navbar-nav">
                <li>
                    <a class="nav-link" href="{{ url_for('main.index2') }}">Home</a>
                </li>
                <li class="active">
                    <a class="nav-link" href="{{ url_for('main.country_search') }}">Country Search</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ url_for('main.aggregate_filter') }}">Statistical Filters</a>
                </li>
            </ul>
        </div>
    </div>
    </nav>
    <div style="text-align:center">
    <div style="display:inline-block">
    <h2>Country Search</h2>
    <form id="countrySearchForm" onsubmit="console.log(window.location.href.split('/')); window.location.href = 'http://'+window.location.href.split('/')[2]+'/country/'+document.getElementById('countrySearch').value; console.log(window.location.href); return false;">
        <input id="countrySearch" type="search" name="countrysearch" class="form-control" placeholder="Country Name" style="float:left; width: 200px; margin: 10px;">
        <input type="submit" value="Submit" id="submitCountrySearch" class="form-control" style="float:left; width:100px; margin: 10px;">
    </form>
    </div>
    </div>
{% if country is not none %}
  <h1>{{ country['Name'] }}</h1>
  {% if img is not none %}
    <img src={{ url_for("static", filename="images/"+ img + ".png") }} width="120" height="90" />
  {% endif %}
  <h2>Details</h2>
  <table class="table">
  <tbody>
    {% for key in country.keys() %}
    {% if key != "Name" and key != "LandArea" %}
        <tr>
          <th scope="row">{{ key }}</th>
          <td>{{ country[key] }}</td>
        </tr>
    {% endif %}
    {% endfor %}
    {% if temp_info is not none %}
      <tr>
        <th scope="row">Temperature in {{ temp_info['RecentMonth'] + ' ' + temp_info['RecentYear']|string }}: {{ temp_info['Value'] }} degrees Celsius</th>
        <td>Years with higher temperature in {{ temp_info['RecentMonth'] }}: {{ ','.join(temp_info['HigherYears']) }}</td>
      </tr>
    {% endif %}
  </tbody>
  <div id="emissionsDiv"></div>
  <script>
    var trace = {
        x: {{ time_series["Year"] }},
        y: {{ time_series["Emissions"] }},
        mode: 'lines'
    };
    var data = [trace];
    var layout = {title: '{{ country['Name'] }}' +': CO2 Emissions Over Time', xaxis: { title: 'Year' }, yaxis: { title: 'CO2 Emissions (kilotons)' }};
    Plotly.newPlot("emissionsDiv", data, layout);
  </script>
{% endif %}
{% endblock %}
