{% extends "layout.html" %}
{% block body %}
    <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href"{{ url_for('main.index') }}">Climalyze</a>
    </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height:1px;">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a class="nav-link" href="{{ url_for('main.index2') }}">Home</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ url_for('main.country_search') }}">Country Search</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ url_for('main.aggregate_filter') }}">Statistical Filters</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ url_for('main.comparison_search') }}">Comparisons</a>
                </li>
            </ul>
        </div>
    </div>
    </nav>
	<!--<h1>Upload New File</h1>
    <div class=flash>{{ get_flashed_messages()[-1] }}</div>
    <form action="" method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value=Upload>
    </form>-->
    <h1 = align="center">Welcome!</h1>
    Climalyze allows you to analyze the relationship between economic factors and a country's contribution to climate change. You can search for a spceific country or filter all countries by an economic or climate-related statistic. We hope that this software can help people understand interactions between climate and economic data better.

    <center><img src="https://i.ytimg.com/vi/ICQGPrBI1r0/maxresdefault.jpg"></center>
    
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '{your-app-id}',
          cookie     : true,
          xfbml      : true,
          version    : '{latest-api-version}'
        });
          
        FB.AppEvents.logPageView();   
          
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

{% endblock %}
