{% extends "layout.html" %}
{% block body %}
    <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href"{{ url_for('main.index') }}">Climalyze</a>
    </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height:1px;">
            <ul class="nav navbar-nav">
                <li>
                    <a class="nav-link" href="{{ url_for('main.index2') }}">Home</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ url_for('main.country_search') }}">Country Search</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ url_for('main.aggregate_filter') }}">Statistical Filters</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ url_for('main.comparison_search') }}">Comparisons</a>
                </li>
                <li class="active">
                    <a class="nav-link" href="{{ url_for('main.feed') }}">Twitter Feed</a>
                </li>
            </ul>
        </div>
    </div>
    </nav>
   <script>window.twttr = (function(d, s, id) {
         var js, fjs = d.getElementsByTagName(s)[0],
             t = window.twttr || {};
               if (d.getElementById(id)) return t;
                 js = d.createElement(s);
                   js.id = id;
                     js.src = "https://platform.twitter.com/widgets.js";
                       fjs.parentNode.insertBefore(js, fjs);

                         t._e = [];
                           t.ready = function(f) {
                                   t._e.push(f);
                                     };

                                       return t;
   }(document, "script", "twitter-wjs"));</script>
   <div id="container"></div>
   <script>
    window.twttr.ready(function(twttr) {
        twttr.widgets.createTimeline(
        {
            sourceType: 'widget',
            widgetId: '941543679176699909'
        },
        document.getElementById('container')
        );
    });
   </script>
{% endblock %}
